.Contenido_RecuperacionPassword {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
}


.webp body{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../img/fondo2.webp");
}

.no-webp body{
    background-image: url("../img/fondo2.jpg");
}

.Recueperacion {
    background: #BAD3C6;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 450px;
    width: 100%;
}

.Recueperacion h1 {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 0 1px black;
}
.Recueperacion p{
    margin-bottom: 40px;
}

.Recueperacion form {
    display: flex;
    flex-direction: column;
}

.Recueperacion input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

.Recueperacion button {
    background: #F9D9AC;
    border: none;
    padding: 15px 10px; /* tamaño del boton */
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px; 
    display: inline-block; 
    margin-right: 15px; /* Espacio entre los botones */
   
}

.Recueperacion button:hover {
    background: #acf9f2;
}


.botonesR {
    text-align: center;
    margin-top: 20px; /* Espacio arriba de los botones */
    border: none;
}
    

/* Para pantallas pequeñas */
@media (max-width: 576px) {
    .Recueperacion {
        max-width: 90%;
        bottom: 10px;
        padding: 10px;
    }

    .Recueperacion p {
        font-size: 20px;
    }

    .Recueperacion a {
        font-size: 18px;
    }
    .Recueperacion button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    }
}

/* Para pantallas medianas */
@media (min-width: 577px) and (max-width: 768px) {
    .Recueperacion {
        max-width: 65%;
        bottom: 30px;
        padding: 12px;
    }

    .Recueperacion p {
        font-size: 15px;
    }

    .Recueperacion a {
        font-size: 19px;
    }
}

/* Para pantallas grandes */
@media (min-width: 769px) {
    .Recueperacion {
        max-width: 23%;
        bottom: 40px;
        padding: 15px;
    }

  

    .Recueperacion a {
        font-size: 20px;
    }
}